# ===========================
# Agenda Fácil - Variables de Entorno
# ===========================

# Servidor
PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres.fgjxavwyjwkdscqgjmcp:YytFMRHKuM0wKB4s@aws-1-us-west-2.pooler.supabase.com:6543/postgres

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:5173
